doctype html
html(lang="en" data-ng-app="thymioApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Thymio II Interface
    link(rel="stylesheet" media="all" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" media="all" href="css/main.css")
  body(id=bodyController data-ng-controller="ThymioCtrl")
    .container
      h1 Thymio II Interface
      p {{ statusx }}
      button.btn.btn-primary(data-ng-click="connectd()") Connect

      ul
        li(ng-repeat="p in devices").
          {{ p }}
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/angularjs/angular.min.js")
    script(src="js/app.js")
